<form class="loginform" {{action 'authenticate' on='submit'}}>
	{{input id="username" maxlength=15 value=login placeholder='Login'}}
	{{input id="password" maxlength=15 value=password placeholder='Password' type='password'}}
	<button id="login" type="submit">Login</button>
</form>