<section id="todoapp">
	<header id="header">
		<h1><span class="username">{{currentUser.name}}</span>{{#if currentUser.name}}&nbsp;{{/if}}{{currentPageTitle}}</h1>
	</header>
  {{outlet}}
</section>
<footer id="info">
	<p>{{currentPageFooter}}</p>
</footer>
